<?xml version="1.0" encoding="utf-8" ?>

<suite name="wozijidejiekouceshitaojian">
    <test name="zheshiceshimokuai">
        <classes>
            <class name="com.testng.extend.demo.extendDemo">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="logdemo"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>
        <listener class-name="com.testng.extend.demo.ExtentTestNGIReporterListenerOld"/>
    </listeners>
</suite>